.schedule {
    min-height: 100px;
    background: $Green;
    color: $White;

    .container {
        .row {


            .scheduleImg {
                .calenderIcon {
                    width: 100%;
                    margin: 15px;

                }
            }

            .headLine {
                margin: 15px 0;

                a {
                    color: $White;

                    &:hover {
                        text-decoration: none;
                    }

                    h1 {
                        font-family: $textFont;
                    }

                    h6 {
                        color: $Black;

                        &:hover {
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
    }

}